.numpad {
    max-width: 1000px;
    margin: 0 auto;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.operators {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}